<template name="About">
  <div class="container static-container">
    <h2 style="padding-bottom: 40px;">Meet the team behind Sketchception!</h2>
    <div class="row" style="padding-bottom: 40px">
      <div class="col-sm-3 col-md-3">
        <img src= "../img/entrepreneur.jpg" height="250px" width="250px">
      </div>
      <div class="col-sm-9 col-md-9">
        <h1> Art Entrepreneur</h1>
        <h3> Jean Beaufort Saulnier</h3>
        <p> My name is Jean Beaufort Saulnier and I am an aspiring art entrepreneur. I grew up in Toulouse, France and I have always been fascinated by art since the age of 4. I visited the Louvre in Paris in 1974 and was enticed by the artwork present. Ever since, I have worked to build a art dealing company. I have built Sketchception with these two web developers. I hope you enjoy our quality products of art and please do contact Sketchception for more information on sketchception@gmail.com if you need anything.</p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 40px">
      <div class="col-sm-9 col-md-9">
        <h1> Web Developer</h1>
        <h3> Dennis Park </h3>
        <p> I am Dennis Park and I am studying computer science at Stanford graduate school. I take on commissioned web design projects with Dongjoon Lee as a part time job. I am very pleased to present to you, Sketchception. The website offers easy navigation through all of the products and a quick checkout process. I am sure you will enjoy the website and if you have any questions, email me at dennispark@gmail.com or find me on Facebook! I hope you enjoy shopping on Sketchception.</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <img src="../img/dennis.jpg" height="250px" width="250px">
      </div>
    </div>
    <div class="row" style="padding-bottom: 40px">
      <div class="col-sm-3 col-md-3">
        <img src="../img/dongjoon.jpg" height="250px" width="250px">
      </div>
      <div class="col-sm-9 col-md-9">
        <h1> Web Developer</h1>
        <h3> Dongjoon Lee </h3>
        <p> I am a professional website designer. I graduated from MIT in 2013 with a computer science degree and have been working with Dennis Park ever since. I frequently design  websites for startup companies and have received countless satisfactory reviews. I can be reached on email at dongjoonleeweb@gmail.com or on Facebook as Dongjoon Lee. I hope you enjoy Sketchception and all the art products offered!</p>
      </div>
    </div>
  </div>
</template>