<template name="Contact">
  <div class="container static-container">
    <h2>Contact us to ask any questions!</h2>
    <div class="row">
      <hr class="styled">
      <div class="col-md-4">
        <h3>Email us</h3>
        <hr>
        <p>You can reach Sketchception by sending an email to sketchception@gmail.com. You can ask about anything related to the store. We welcome emails at any time and will work to reply as soon as possible.</p>
      </div>
      <div class="col-md-4">
        <h3>Call us</h3>
        <hr>
        <p>We also offer a 24/7 call line. Simply dial 1-800-RETURNS and you will be served by a machine. If you would like to speak to an agent, we have options to allow person to person phone calls. Please call us with any questions, comments, and suggestions you may have.</p>
      </div>
      <div class="col-md-4">
        <h3>Social Media</h3>
        <hr>
        <p>Visit and follow our social media pages by scrolling down to the footer and clicking on the icons. We have a Facebook page, a Twitter page, and an Instagram account. We encourage to like or follow the pages and you are welcome to post anything on our wall or by tagging us in your posts.</p>
      </div>
    </div>
  </div>
</template>