<template name="Faqs">
  <div class="container static-container">
    <h2>Frequently asked questions</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>No questions asked yet!</h4>
      </div>
      <div class="col-md-6">
        <form class="main form">
          <div class="form-group">
            <label class="control-label" for="question">Submit a Question</label>
            <div class="controls">
              <input name="question" id="question" type="text" placeholder="We will answer your question within a few days." class="form-control"/>
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary" id="submitbutton"/>
        </form>
      </div>
    </div>
  </div>
</template>