<template name="Guarantee">
  <div class="container static-container">
    <h2>Products and Services Guarantee</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Satisfaction Guarantee</h3>
        <hr>
        <p>Sketchception will work to guarantee the highest quality products and services for your satisfaction. We value customer satisfaction over anything else. If there are any problems with your product, please visit our shipping and returns page. If you have any questions regarding the policies or the product, you can call us at 1-800 RETURNS or email us at sketchception@gmail.com</p>
      </div>
      <div class="col-md-6">
        <h3>Limited Insurance</h3>
        <hr>
        <p>Sketchception offers limited insurance on all of our products. All products are insured for 30 days after purchase. If you find any flaws in your purchase, we will guarantee a 100% money return. All you will need to do is call us at 1-800 RETURNS or email us at sketchception@gmail.com for specific instructions. We will then send you printable forms to ship the product back to us.</p>
      </div>
    </div>
  </div>
</template>