<template name="Shipping">
  <div class="container static-container">
    <div class="row">
      <div class="col-md-6"> 
        <h3>Free Shipping</h3>
        <hr>
        <p>Unlike many other stores that have special rules and fine prints, Sketchception offers free shipping for all purchases within the contiguous United States. There are no minimum order sizes or special exceptions. Your order will arrive with standard shipping within 3 to 5 business days. Because we know that time is important to you, we will put forth our best effort to get the product to you at the earliest time possible. </p> 
      </div>
      <div class="col-md-6">
        <h3>Free Returns</h3>
        <hr>
        <p>You can return any product within 15 days for a full refund as long as there are no damages. Although we assume and predict that you will fully enjoy your product, we have a very easy return process for customer satisfaction. We send a return sticker along with the receipt in the box with your product and if you are unhappy for any reason, you can put the product back in the box, paste the sticker on the box, and bring it to any postal service near you. You will receive a full refund once we receive the product back.</p>
      </div>
    </div>
  </div>
</template>